
@font-face{font-family:roboto;src:url(../fonts/Roboto-Regular-webfont.eot);src:url(../fonts/Roboto-Regular-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/Roboto-Regular-webfont.woff) format('woff'),url(../fonts/Roboto-Regular-webfont.ttf) format('truetype'),url(../fonts/Roboto-Regular-webfont.svg#roboto) format('svg');font-weight:400;font-style:normal;}
@font-face{font-family:roboto-bold;src:url(../fonts/Roboto-Bold-webfont.eot);src:url(../fonts/Roboto-Bold-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/Roboto-Bold-webfont.woff) format('woff'),url(../fonts/Roboto-Bold-webfont.ttf) format('truetype'),url(../fonts/Roboto-Bold-webfont.svg#roboto-bold) format('svg');font-weight:400;font-style:normal;}
@font-face{font-family:roboto-light;src:url(../fonts/roboto-light-webfont.ttf) format('truetype'),url(../fonts/roboto-light-webfont.woff2) format('woff2'),url(../fonts/roboto-light-webfont.woff) format('woff');font-weight:400;font-style:normal;}
@font-face{font-family:roboto-thin;src:url(../fonts/Roboto-Thin-webfont.eot);src:url(../fonts/Roboto-Thin-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/Roboto-Thin-webfont.woff) format('woff'),url(../fonts/Roboto-Thin-webfont.ttf) format('truetype'),url(../fonts/Roboto-Thin-webfont.svg#roboto-light) format('svg');font-weight:400;font-style:normal;}
@font-face{font-family:robotomedium;src:url(../fonts/roboto-medium-webfont.eot);src:url(../fonts/roboto-medium-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/roboto-medium-webfont.woff2) format('woff2'),url(../fonts/roboto-medium-webfont.woff) format('woff'),url(../fonts/roboto-medium-webfont.ttf) format('truetype'),url(../fonts/roboto-medium-webfont.svg#robotomedium) format('svg');font-weight:400;font-style:normal;}
@font-face{font-family:FontAwesome;src:url(../fonts/fontawesome-webfont.eot?v=4.5.0);src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0) format('embedded-opentype'),url(../fonts/fontawesome-webfont.woff2?v=4.5.0) format('woff2'),url(../fonts/fontawesome-webfont.woff?v=4.5.0) format('woff'),url(../fonts/fontawesome-webfont.ttf?v=4.5.0) format('truetype'),url(../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular) format('svg');font-weight:400;font-style:normal;}
@font-face{font-family:sysfont;src:url(../fonts/sysfont-webfont.woff2) format('woff2'),url(../fonts/sysfont-webfont.woff) format('woff');font-weight:400;font-style:normal;}

*{font-family:roboto}* ,::after,::before,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

@-webkit-keyframes autofill{ to{color:var(--color-white); background:0 0;} }

input:-webkit-autofill,input:-webkit-autofill:focus,input:-webkit-autofill:hover,select:-webkit-autofill,select:-webkit-autofill:focus,select:-webkit-autofill:hover,textarea:-webkit-autofill,textarea:-webkit-autofill:focus,textarea:-webkit-autofill:hover{-webkit-animation-name:autofill;-webkit-animation-fill-mode:both;}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 50px var(--color-white) inset;-webkit-text-fill-color:#999;}
input:-webkit-autofill:focus{-webkit-box-shadow:,0 0 0 50px var(--color-white) inset;-webkit-text-fill-color:#999;}

.btn.focus,.btn:focus,.btn:hover,:focus,button,html input[type=button],html input[type=button]:active,html input[type=button]:focus,html input[type=button]:hover,input[type=reset],input[type=reset]:active,input[type=reset]:focus,input[type=reset]:hover,input[type=submit],input[type=submit]:active,input[type=submit]:focus,input[type=submit]:hover{outline:0}
::-moz-focus-inner{border:0}

html,button,input,select,textarea, li,i,a {-webkit-tap-highlight-color: rgba(201, 224, 253, 0.0001);}
input[type=date]::-webkit-inner-spin-button {-webkit-appearance: none;display: none;}
textarea:active,textarea:focus,textarea:hover{outline:0!important;}
button,img,input,select,textarea{max-width:100%;}
ul{list-style:none;padding:0;margin:0}
a,a:hover{color:#333}
a:active,a:focus,a:hover{outline:0!important;text-decoration:none;}
div{word-wrap:break-word;}
textarea{white-space:normal;}
label{font-weight:400;}
h2 {font-weight: 300; margin: 4vh 4vw; letter-spacing: 3px; color: grey; text-transform: uppercase;}

/*----------------------css from mdstyle file-----------------------*/

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {background-color: transparent;border: none;border-bottom: 1px solid #ddd;height: auto;width: 100%;font-size: 13px;line-height:20px;margin: 0;padding: 0;-webkit-box-shadow: none;box-shadow: none;-webkit-box-sizing: content-box;box-sizing: content-box;-webkit-transition: all 0.3s;transition: all 0.3s;}

*{box-sizing: border-box !important;}
html {overflow-y: initial;}
figure{margin:0;}
label{ font-size:14px; color:var(--color-black)}
p,textarea{text-align:justify;}

/*---------------helper classes---------------*/
.mx-auto{margin-left: auto !important;margin-right: auto !important;}
.mx-0{margin-left: 0 !important; margin-right: 0 !important;}
.m-0{margin: 0;}
.mt-0{margin-top: 0 !important;}
.ml-0{margin-left: 0;}
.ml-auto{margin-left: auto;}

.mr-0{margin-right: 0;}
.mr-5{margin-right: 5px !important;}
.mr-10{margin-right: 10px !important;}
.mr-15{margin-right: 15px !important;}
.mr-20{margin-right: 20px !important;}
.mr-40{margin-right: 40px !important;}
.p-0{padding: 0;}
.pt-0{padding-top: 0 !important;}
.pb-0{padding-bottom: 0 !important;}
.pb-20{padding-bottom: 20px !important;}
.pb-30{padding-bottom: 30px !important;}
.pl-0{padding-left: 0;}
.pr-0{padding-right: 0;}
.pr-5{padding-right: 5px !important;}
.pl-5{padding-left: 5px !important;}
.mb0 {margin-bottom: 0 !important;}
.pt-10{padding-top: 10px !important;}
.pt-15{padding-top: 15px !important;}
.pt-20{padding-top: 20px;}
.pt-25{padding-top: 25px;}
.pt-30{padding-top: 30px;}
.py-10{padding-top: 10px;padding-bottom: 10px;}
.py-15{padding-top: 15px;padding-bottom: 15px;}
.py-20{padding-top: 20px;padding-bottom: 20px;}
.py-40{padding-top: 40px;padding-bottom: 40px;}
.py-70{padding-top: 70px !important;padding-bottom: 70px !important;}
.mb-10{margin-bottom: 10px !important;}
.mb-20{margin-bottom:20px !important;}
.mb-15{margin-bottom:15px !important;}
.mb-5{margin-bottom:5px !important;}
.mt-5{margin-top: 5px !important;}
.mt-10{margin-top: 10px !important;}
.mt-15{margin-top: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mt-30{margin-top: 30px !important;}
.mt-40{margin-top: 40px !important;}
.m-t-50{margin-top:50px !important;}
.m-t-60{margin-top:60px !important;;}
.mt25{margin-top:25px !important;}
.mt-28{margin-top:28px !important;}
.font-25{font-size: 25px;}
.pl-1{padding-left: 1rem;}
.pl-2{padding-left: 2rem;}
.whitebg{background:var(--color-white) !important;}
.btn{background:none;}
.row{margin:0 -0.75rem;}
.card {margin-top: 0;}
.width-100{width: 100% !important;}
.gray-text-444 i{color: #444;}
.gray-text-555 i{color: #555;}
.gray-text-666 i{color: #666;}
.hidden{display:none;}

.border-none{border: none !important;}
.float-none {float: none !important;}
.right{float: right;}
.noboxshadow{box-shadow: none;}
.unsetmargin{margin: unset;}
.bb-line{border-bottom: 1px solid #ccc;}
.bt-line{border-top: 1px solid #ccc;}
.bb-none{border-bottom: none !important;}

.ff-medium {font-family: var(--font-medium) !important;}
.ff-bold {font-family: var(--font-bold) !important;}

.mdc-text-green {color: var(--mdc-green);}
.mdc-text-amber {color: var(--mdc-amber);}
.mdc-text-red {color: var(--mdc-red);}
.mdc-text-light-blue {color: var(--mdc-light-blue);}
.mdc-text-red-700 {color: var(--mdc-red-700);}

.mdc-bg-green {background-color: var(--mdc-green);}
.mdc-bg-amber {background-color: var(--mdc-amber);}
.mdc-bg-red {background-color: var(--mdc-red);}
.mdc-bg-light-blue {background-color: var(--mdc-light-blue);}
.mdc-bg-red-700 {background-color: var(--mdc-red-700);}

.text-primary{color: var(--color-theme) !important;}
.text-black{color: var(--color-black) !important;}
.bg-primary{background-color: var(--color-theme) !important;}


.mdi-12px {font-size: 12px !important;}
.mdi-13px {font-size: 13px !important;}
.mdi-14px {font-size: 14px !important;}
.mdi-15px {font-size: 15px !important;}
.mdi-16px {font-size: 16px !important;}
.mdi-17px {font-size: 17px !important;}
.mdi-18px {font-size: 18px !important;}
.mdi-19px {font-size: 19px !important;}
.mdi-20px {font-size: 20px !important;}
.mdi-21px {font-size: 21px !important;}
.mdi-22px {font-size: 22px !important;}
.mdi-23px {font-size: 23px !important;}
.mdi-24px {font-size: 24px !important;}
.mdi-25px {font-size: 25px !important;}
.mdi-26px {font-size: 26px !important;}
.mdi-27px {font-size: 27px !important;}
.mdi-28px {font-size: 28px !important;}
.mdi-29px {font-size: 29px !important;}
.mdi-30px {font-size: 30px !important;}
.mdi-31px {font-size: 31px !important;}
.mdi-32px {font-size: 32px !important;}
.mdi-33px {font-size: 33px !important;}
.mdi-34px {font-size: 34px !important;}
.mdi-35px {font-size: 35px !important;}
.mdi-36px {font-size: 36px !important;}
.mdi-37px {font-size: 37px !important;}
.mdi-38px {font-size: 38px !important;}
.mdi-39px {font-size: 39px !important;}
.mdi-40px {font-size: 40px !important;}
